@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: white;
}

.container {
  display: flex;
  width: 80%;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #48005A;
}

header .content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


header .logo img {
  width: 220px;
}

nav {
  align-self: center;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 50px;
  list-style: none;
}

ul li {
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.btt {
  width: 120px;
  height: 40px;
  border-radius: 10px;
  background-color: #fff;
  color: #48005A;
  font-size: 16px;
  font-weight: 500;
  transition: 0.6s;
  border: none;
  cursor: pointer;
}

.btt:hover {
  background-color: #470b7be3;
  box-shadow: 0px 5px 10px rgba(75, 4, 157, 0.4);
  color: #fff;
  transform: translateY(-1px);
  border: 1px solid #fff;
}

.btt:active {
  transform: translateY(-1px);
}

section {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
}


/* SESSÃO 1 - BANNER INICIAL */
.sessao1 {
  background-image: url(../assets/banner_inicio.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.662);
  background-blend-mode: multiply;
}

.sessao1 .content {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 200px 0px 200px 0px;
  text-align: center;
  gap: 20px;
}

.sessao1 h1 {
  font-size: 35px;
  font-weight: 400;
}

.sessao1 h2 {
  font-size: 20px;
  font-weight: 500;
}

.sessao1 .destaque {
  background-color: white;
  color: #48005A;
  padding: 1.5px;
}

/* SESSÃO 2 - O QUE É */
.sessao2 {
  background-color: #18001C;
}

.sessao2 .content {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
  margin: 100px 0px 100px 0px;
  gap: 20px;
}

.sessao2 h1 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 20px;
}

.sessao2 p {
  font-size: 20px;
  text-align: justify;
  line-height: 40px;
}

.img-lugar {
  width: 1080px;
  height: 440px;
}

/* SESSÃO 3 - CHAMADA PARA AÇÃO */
.sessao3 {
  background-color: #18001c;

}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url(../assets/fundo.png);
  background-color: #48005ab1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}

.sessao3 .content {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
  margin: 80px 0px 80px 0px;
  gap: 20px;
}

.sessao3 h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}

/* SESSÃO 4 - BENEFÍCIOS */
.sessao4 {
  background-color: #18001C;
}

.sessao4 .content {
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
  margin: 80px 0px 80px 0px;
  gap: 20px;
}

.sessao4 h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 30px;
}

.box-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.box-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 380px;
}

.box-content img {
  width: 170px;
  background-color: #fff;
  border-radius: 50%;
  padding: 30px;
}

.box-content p {
  width: 300px;
  align-self: center;
  text-align: center;
  margin-top: 25px;
  font-weight: 500;
  line-height: 30px;
}



/* SESSÃO 5 - INTERAÇÕES */
.sessao5 {
  background-color: #48005A;
}

.sessao5 .content {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: 80px 0px 80px 0px;
  gap: 20px;
}

.sessao5 p {
  text-align: justify;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.sessao5 h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 30px;
}

.card-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px 30px 0px;

}

.card-content {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 15px;
  padding: 20px;
  width: 260px;

}

.card-content img {
  width: 100px;
}

.card-content p {
  color: #48005A;
}



/* SESSÃO 6 - SOBRE NÓS */
.sessao6 {
  background-color: #18001C;
}

.sessao6 .content {
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: 80px 0px 80px 0px;
  gap: 40px;
}

.sessao6 h1 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 20px;
}

.sessao6 img {
  width: 520px;
}

.sessao6 p {
  color: #FFF;
  text-align: justify;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}


/* SESSÃO 6 - FOOTER */
footer{
  background-color: #48005A;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px 10px 0px;
}

footer img{
  width: 220px;
}

footer h1{
  font-weight: 500;

}